.navbar{
    position: absolute;
width: 1437px;
height: 145px;
left: calc(50% - 1440px/2);
top: -2px;

background: #FFEBEB;
}
.background{
    box-sizing: border-box;

    position: absolute;
    width: 1437px;
    height: 881px;
    left: calc(50% - 1440px/2);
    top: 143px;
    
    background: #D9D9D9;
    mix-blend-mode: normal;
}
h1{
    position: absolute;
    width: 222px;
    height: 77px;
    left: calc(50% - 250px/2);
    top: -10px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    
    color: #000000;
}
.search input[type=search] {
    box-sizing: border-box;

position: absolute;
width: 202px;
height: 38px;
left: calc(50% - -1000px/2);
top: 52px;

background: rgba(255, 255, 255, 0.89);
border: 2px solid #000000;
border-radius: 10px;
text-align: center;
}
.line1 input[type=button]{
    position: absolute;
width: 80px;
height: 0px;
left: calc(50% - 700px);
top: 52px;
background-color: #000000;

}
.line2 input[type=button]{
    position: absolute;
    width: 80px;
    height: 0px;
    left: calc(50% - 700px);
    top: 71px;
    background-color: #000000;
}
.line3 input[type=button]{
    position: absolute;
    width: 80px;
    height: 0px;
    left: calc(50% - 700px);
    top: 90px;
    background-color: #000000;
}
table {
    position: absolute;
    width: 1204px;
    height: 74pxpx;
    left: calc(50% - 600px);
    top: 250px;
    background-color: #BB9999;
    border-collapse: collapse;
    text-align: center;
}
td {
    font-size: 32;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
}
th{
    font-size: 32;
    text-align:center;
    padding: 15px;
}